.git/
.dvc/cache/
data/raw/
data/processed/
data/*.pt
models/
reports/
docs/
notebooks/
outputs/
wandb/
lightning_logs/
*.egg-info/
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.DS_Store
