# commands
invoke==3.0.3

# pre-commit
pre-commit==4.6.0

# testing
pytest==9.1.1
coverage==7.14.3
pytest-cov==7.1.0

# linting
ruff==0.15.20
mypy==2.1.0

# docs
mkdocs-material==9.7.6
mkdocstrings-python==2.0.5

# vertex pipeline
kfp>=2.16.1
google-cloud-pipeline-components>=2.22.0

types-PyYAML>=6.0.12.20260518
pandas-stubs>=3.0.3.260530
types-requests>=2.33.0.20260518
onnxruntime==1.27.0
prometheus-client>=0.20
